@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@layer base {
  * {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

@theme {
  --color-primary: #ff5f22;
  --color-light-primary: #ff5f2214;

  --color-yellow: #ffc042;
  --color-red: #fb2c36;
  --color-gray: #f4f4f5;
  --color-med-gray: #fafafa;
  --color-dark-gray: #71717b;
  --color-blue: #3363ff;
  --color-light-blue: #3363ff1a;
  --color-green: #33b570;
  --color-light-green: #33b5701a;
  --color-purple: #9810fa;
  --color-light-purple: #f3e8ff;
}
